{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "esmodules": true
                }
            }
        ],
        "@babel/preset-typescript"
    ],
    "env": {
        "cjs": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "targets": {
                            "node": "12",
                            "browsers": [
                                ">0.25%",
                                "not dead"
                            ]
                        },
                        "modules": "commonjs"
                    }
                ],
                "@babel/preset-typescript"
            ]
        },
        "esm": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "targets": {
                            "esmodules": true
                        },
                        "modules": false
                    }
                ],
                "@babel/preset-typescript"
            ]
        }
    }
}