.sjx-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.sjx-controls {
    display: inline-block;
    top: 0;
    left: 0;
    z-index: 2147483647;
}

.sjx-hdl {
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #00a8ff;
    box-sizing: border-box;
    background: #fff;
    margin-top: -5px;
    margin-left: -5px;
}

.sjx-hdl-line {
    background: #00a8ff;
    margin: 0;
    padding: 0;
    /* border: 1px dashed #32B5FE; */
}

.sjx-hdl-center {
    border-color: rgb(254, 50, 50);
}

.sjx-normal {
    display: inline-block;
    border: 0.5px dashed rgb(0, 168, 255);
    top: 50%;
    left: 100%;
    width: 50px;
    height: 0;
}

.sjx-controls,
.sjx-hdl,
.sjx-normal,
.sjx-hdl-line {
    position: absolute;
    box-sizing: border-box;
}

.sjx-hidden {
    display: none;
}

.sjx-svg-wrapper:not(.sjx-acting) .sjx-svg-hdl:hover,
.sjx-svg-wrapper:not(.sjx-acting) .sjx-svg-line:not(.sjx-svg-line-normal):hover,
.sjx-svg-wrapper:not(.sjx-acting) .sjx-svg-hit:hover + .sjx-svg-hdl,
.sjx-svg-wrapper:not(.sjx-acting) .sjx-svg-hit:hover + .sjx-svg-line,
.sjx-svg-hdl.sjx-active,
.sjx-svg-line.sjx-active {
    filter: drop-shadow(0 0 3px rgba(0, 168, 255, 0.9));
}

.sjx-svg-wrapper:not(.sjx-acting) circle.sjx-svg-hit:hover {
    fill: rgba(0, 168, 255, 0.15);
}

.sjx-svg-wrapper:not(.sjx-acting) line.sjx-svg-hit:hover {
    stroke: rgba(0, 168, 255, 0.15);
}

.sjx-svg-wrapper:not(.sjx-acting) circle.sjx-svg-hit:has(+ .sjx-svg-hdl:hover),
circle.sjx-svg-hit:has(+ .sjx-svg-hdl.sjx-active) {
    fill: rgba(0, 168, 255, 0.15);
}

.sjx-svg-wrapper:not(.sjx-acting) line.sjx-svg-hit:has(+ .sjx-svg-line:hover),
line.sjx-svg-hit:has(+ .sjx-svg-line.sjx-active) {
    stroke: rgba(0, 168, 255, 0.15);
}

.sjx-show-hit circle.sjx-svg-hit {
    fill: rgba(0, 168, 255, 0.15);
}

.sjx-show-hit line.sjx-svg-hit {
    stroke: rgba(0, 168, 255, 0.15);
}

.sjx-show-hit:not(.sjx-acting) circle.sjx-svg-hit:hover {
    fill: rgba(0, 168, 255, 0.3);
}

.sjx-show-hit:not(.sjx-acting) line.sjx-svg-hit:hover {
    stroke: rgba(0, 168, 255, 0.3);
}

.sjx-show-hit:not(.sjx-acting) circle.sjx-svg-hit:has(+ .sjx-svg-hdl:hover),
.sjx-show-hit circle.sjx-svg-hit:has(+ .sjx-svg-hdl.sjx-active) {
    fill: rgba(0, 168, 255, 0.3);
}

.sjx-show-hit:not(.sjx-acting) line.sjx-svg-hit:has(+ .sjx-svg-line:hover),
.sjx-show-hit line.sjx-svg-hit:has(+ .sjx-svg-line.sjx-active) {
    stroke: rgba(0, 168, 255, 0.3);
}