.sjx-wrapper {
    position: static;
    width: 0;
    height: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.sjx-controls {
    display: inline-block;
    top: 0;
    left: 0;
    z-index: 2147483647;
    border: 1px dashed;
}

.sjx-hdl {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 2px solid;
}

.sjx-controls, .sjx-hdl {
    position: absolute;
    border-color: #32B5FE;
    box-sizing: border-box;
    background-color:rgba(0, 168, 255, 0.2);
}

.sjx-hdl-t {
    top: calc(0% - 6px);
}

.sjx-hdl-m {
    top: calc(50% - 6px);
}

.sjx-hdl-b {
    top: calc(100% - 6px);
}

.sjx-hdl-l {
    left: calc(0% - 6px);
}

.sjx-hdl-c {
    left: calc(50% - 6px);
}

.sjx-hdl-r {
    left: calc(100% - 6px);
}

.sjx-rotator {
    left: calc(100% + 45px);
}

.sjx-normal {
    display: inline-block;
    box-sizing: border-box;
    border-width: 0.5px;
    border-style: dashed;
    top: 50%;
    left: 100%;
    width: 50px;
    height: 0;
}

.sjx-hidden {
    display: none;
}